.container {
    margin: 2% 34vw;
}

.lowerContent {
    position: fixed;
    bottom: 4vh;
}

button {
    font-size: 4vh;
    width: 6vw;
    height: 6vw;
    border: none;
    border-radius: 32%;
    margin: 0.8vw;
}

button:hover {
    background: #e7e7e7;
    color: #666 !important;
}

.white {
    background: #fff;
}

.purple {
    background: #4b5efc;
    color: #fff !important
}

.gray {
    background: #d2d3da;
}

.content {
    width: 32vw;
}

#text {
    letter-spacing: 2.25px;
    height: 13vh;
    margin: 2% 2% 0%;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: right;
    background: #f1f2f3;
    color: #888888;
    font-size: 2vw;
    width: 27vw;
}

#result {
    letter-spacing: 2.25px;
    width: 27vw;
    height: 5vw;
    margin: 0 0 0vw;
    border: none;
    font-size: 5vh;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    text-align: right;
    background: #f1f2f3;
}

body {
    background: #f1f2f3;
    height: 86vh;
    font-family: sans-serif;
    min-width: 360px;
}





@media only screen and (max-width: 1500px) {
    #text {
        height: 27vh;
        margin: 2% 1.6vw 0%;
    }

    #result {
        margin: 0 1.62vw 0vw;
    }
}


@media only screen and (max-width: 1300px) {
    #result {
        width: 28vw;
        height: 5vw;
        margin: 0px 1.5vw 0vw;
        padding: 5px;
    }


    #text {
        height: 30vh;
        margin: 2% 1.5vw 0%;
    }

    button {
        font-size: 3vh;
    }
}

@media only screen and (max-width: 1280px) {
    #result {
        font-size: 3vw;
    }

    #text {
        height: 38vh;
    }
}


@media only screen and (max-width: 1024px) {
    button {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 840px) {
    button {
        font-size: 2.5vw;
        width: 5vw;
        height: 5vw;
    }

    #result {
        width: 24vw;
        font-size: 2.9vw;
    }

    #text {
        height: 22vh;
        width: 24vw;
    }
}