.no-js #loader { display: none;	}
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat #fff;
}
.loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 150px;
	height: 150px;
	margin: 20% 43%;
	-webkit-animation: spin 2s linear infinite;
	position: fixed;
	animation: spin 2s linear infinite;
}	

#loadingSending {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat #fff;
}
.loaderSending {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #3498db;
	width: 150px;
	height: 150px;
	margin: 20% 43%;
	-webkit-animation: spin 2s linear infinite;
	position: fixed;
	animation: spin 2s linear infinite;
}	
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* 1304 665 */
@media screen and (max-width: 1304px){
	.loader {
		border: 10px solid #f3f3f3;
		border-radius: 50%;
		border-top: 10px solid #3498db;
		width: 150px;
		height: 150px;
		margin: 20% 43%;
		-webkit-animation: spin 2s linear infinite;
		position: fixed;
		animation: spin 2s linear infinite;
	}
	.logo {
		background: url(../img/SkyLight_Animation.png);
		width: 120px;
		height: 120px;
		background-repeat: no-repeat;
		background-size: 100%;
		position: fixed;
		margin: 21.5% 44.07%;
	}
	.logoPosision{
		position: fixed;
		top: 16%;
		left: 41.6%;
		left: 40.6%;
		color: #34495e;
	}
	.textLogo{
		position: fixed;
		margin-top: 34.5%;
		font-size: 22px;
	}
}
/* 1304 665 */
@media screen and (max-width: 824px){
	.logoPosision {
		left: 38.6%;
	}
}

@media screen and (max-width: 732px){
	.logoPosision {
		left: 38.6%;
	}
	.logo {
	 	margin: 22.2% 44.57%;
	}
}
@media screen and (max-width: 740px){
	.logo {
	    margin: 22.2% 44.57%;
	}
}
@media screen and (max-width: 600px){
	.logo {
		margin: 22.5% 44.5%;
	}
}

@media screen and (max-width: 424px){
	.logo {
	    margin: 23.6% 45.6%;
	}
}